[submodule "summit-2024-l425-securbank-main/summit-2024-l425-securbank-main"]
	path = summit-2024-l425-securbank-main/summit-2024-l425-securbank-main
	url = https://github.com/ynakagawa/summit-2024-l425-securbank-main
